nav {
  display: flex;
  /* border-bottom: 2px solid #f3f3f3; */
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 999;
  margin-left: 2rem;
}

.navIcons {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.inputWrapper {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
  margin-left: 15rem;
}

.input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

.input:focus {
  outline: none;
}

#searchIcon {
  color: royalblue;
}
