:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 0.5rem 1.5rem rgba(0,0,0,0.1);
    --border: 0.2rem solid rgba(0,0,0,0.1);
    --outline:0.1rem solid rgba(0,0,0,0.1); 
    --outline-hover:0.2rem solid var(--black);
}

#hero {
    height: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

#hero img{
    width: 90%;
    height: 600px;
}

/* #product1{
    text-align: center;
} */
.box{
    background-color: #eee;
    width: 330px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 0px 25px;
}
input {
    width: 240px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 50px;
}

#product1 .pro-container1{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
}

#product1 .pro{
    /* width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0,0,0.02);
    margin: 15px 0;
    transition: 0.2;
    position: relative; */
    width: 17%;
   margin-top: 20px;
    border-radius: 25px;
    padding: 1rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: .7s;
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
}
#product1 .pro .cart{
    padding-right: 3px;
}

#product1 .pro .cart:hover{
    cursor: pointer;
    color: #088178;
}

#product1 .headings{
    padding: 20px 40px;
    background-image: url("../../img/productLandingPage/bg3.avif");
    margin-top: 10px;
    width: 100%;
}
#product1 .pro:hover{
    /* box-shadow: 20px 20px 30px rgba(0, 0,0,0.15);
    transition: .5s; */
    outline: var(--outline-hover);
    outline-offset: 0rem;
}
#product1 .pro img{
    width: 150px;
    border-radius: 20px;
    margin: 1rem 0;
    height: 15rem;
}

#product1 .pro .des{
    text-align: start;
    /* padding: 10px 0; */
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    /* padding-top: 7px; */
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des .star{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./images/petAccessories.png");
    min-width: 580px;
    width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    margin-left:10px ;
    margin-right: 10px;
    border: 10px black;
}
#sm-banner .banner-box .txt{
    margin-left: 20px;
}
#sm-banner h4{
    color: orange;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: -10px;
}
#sm-banner h2{
    color: red;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
}
#sm-banner span{
    color: #0468f5;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner button{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s; 
}
/* #sm-banner .banner-box:hover {
    webkit-filter: blur(3px);
    filter: blur(3px);
 } */
#sm-banner .banner-box:hover button{
   background: #088178;
   border: 1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("./images/petAccessories1.png");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: -10px;
}

#banner3 h2{
    color: #fb0707;
    font-weight: 900;
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: -10px;
}
#banner3 h3{
    color: #fb0707;
    font-weight: 800;
    font-size: 15px;
    margin-left: 20px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../../img/productLandingPage/bg3.avif");
    background-repeat: no-repeat;
    /* background-position: 20% 30%; */
    /* background-color: #041e42; */
    background-size: cover;
    padding: 20px 80px;
    margin: 10px;
    margin-bottom: 20px;
}

#newsletter .newstext h4{
    font-size: 22px;
    font-weight: 700;
    color: #088178;
}

#newsletter .newstext p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter .newstext p span{
    color: #ffbd27;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px sloid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    width: 90px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}


#header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 25rem;
    height: 3rem;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #088178;
    border-radius: 30px;
}

#header .search-form.active{
    right: 15rem;
    transition: 0.4s linear;
}


#header .search-form input{
    height: 100%;
    width: 100%;
    background:none ;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding: 0 1.5rem;
}


#header .search-form label{
    font-size: 1.1rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}


#header .search-form label:hover{
    color: #088178;
}


#header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 25em;
    background: #fff;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

#header .shopping-cart .qty{
    width: 25px;
}
#header .shopping-cart .box .remove{
    padding-left: 5px;
}
#header .shopping-cart .box .remove:hover{
    color: red;
    cursor: pointer;
}

#header .shopping-cart .btn{
    background-color: #088178;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
}

#header .shopping-cart .btn{
    cursor: pointer;
}

#header .shopping-cart.active{
    right: 15rem;
    transition: 0.3s linear;
}



#header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}


#header .shopping-cart .box img{
    height: 10rem;
}


#header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var#088178;
    transform: translateY(-50%);
}

#header .shopping-cart .box .content{
    overflow: auto;
}

#headerr .shopping-cart .box .fa-trash:hover{
    color: #088178;
}


#header .shopping-cart .box .content h3{
    color: black;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}


#header .shopping-cart .box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
}


#header .shopping-cart .box .content .quantity{
    padding-left: 0rem;
}


#header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: #088178;
}


#header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}


#header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 29rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
}


#header .login-form.active{
    right: 15rem;
    transition: 0.3s linear;
}


#header .login-form h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
}


#header .login-form .box{
    width: 90%;
    margin: 0.5rem 0;
    background: #eee;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    text-transform: none;
}


#header .login-form p{
    font-size: 1.4rem;
    padding: 0.5rem 0;
    color:black;
}
 

#header .login-form p a{
    color: #088178;
    text-decoration: underline;
}

#header .login-form .btn{
    background-color: #088178;
    color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}


.wrapper{
    width: 95%;
    margin: 0 auto;
}
#search-container{
    margin: 1.5rem 0;
}
#search-container input{
    background-color: transparent;
    width: 60%;
    border-bottom: 2px solid #000;
    padding: 1.5rem 1.5rem;
    margin-bottom: 20px;
}
#search-container input:focus{
    border-bottom-color: var(--orange);
}
#search-container button{
    padding: 1.5rem 2.5rem;
    margin-left: 1.5rem;
    background-color: var(--orange);
    color: #fff;
    border-radius: 5px;
}
.button-value{
    border: 2px solid black;
    padding: 1.5rem 2.5rem;
    border-radius: 3rem;
    background-color: transparent;
    color: var(--orange);
    cursor: pointer;
    margin-top: 20px;
}
.active{
    background-color: var(--orange);
    color: #fff;
}

.pro-container .pro.inactive{
    display: none;
}

.pro-container1 .pro.inactive{
    display: none;
}





























@media (max-width:820px) {
      #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px; 
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
     }
     #hero{
        padding: 0 10px;
     }
     #hero h4 {
        padding-bottom: 5px;
        font-size: 30px;
    }
    #hero h2 {
        font-size: 30px;
    }
     #navbar li{
        right: 0px;
     }
     #navbar.active{
        right: 65rem;
        transition: 0.3s linear;
        z-index: 1000;
     }
     #navbar.change{
        /* background-color: red; */
        right: -300px;
     }
     #navbar.remo{
        right: -300px;
     }
     #navbar li{
        margin-bottom:25px;
     }
    
     .show-nav{
        width: 60%;
    }
     #mobile{
        display: flex;
        align-items: center;
     }
     #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
     }
   
     #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-right: 10px 10px;
        flex-wrap: wrap;
        margin: 0px 50px 0px 50px;
    }
    #product1 .pro img {
        width: 120px;
        border-radius: 20px;
        /* margin: 1rem 0; */
        margin-left: -15px;
        margin-right: 15px;
        height: 15rem;
    }
    /* #product1 .pro .imgsrc{
        margin-right: -50px;
    } */

    #sm-banner .banner-box {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    #sm-banner .banner-box:hover button{
        background: #088178;
        border: 1px solid #088178;
     }
     #banner3 {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        padding: 5px;
    }
    #banner3 .banner-box {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("../../img/productLandingPage/bg4.avif");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: -10px; */
        margin-left:20px ;
    }

     #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
     }

     #lg-bag{
        display: none;
     }
     #header {
       height: 60px;
    }

     #hero {
       height: 70vh;
       padding: 0 80px;
       background-position: top 30% right 30% ;
    }
    #hero .logo{
    margin-left: 10px;
    }
}
@media (max-width:740px){
    #navbar.active{
        right: 40rem;
        transition: 0.3s linear;
        z-index: 1000;
     }
}

@media (max-width:360px){
    #navbar.active{
        right: 30rem;
        transition: 0.3s linear;
        z-index: 1000;
     }
}

@media (min-width:375px){
    #product1 .pro-container {
        /* display: flex;
        justify-content: space-between; */
        padding: 5px 5px;
        /* flex-wrap: wrap; */
        margin: 0px 5px 0px 5px;
    }
}

@media (max-width:375px){

    #product1{
        margin-right: 0px;
    }
    #product1 .pro-container .pro {
        /* width: 90%;
        margin-top: 20px;
        border-radius: 25px;
        padding: 1rem 2rem;
        background: #fff;
        outline: var(--outline);
        outline-offset: -1rem;
        text-align: center;
        box-shadow: var(--box-shadow);
        transition: .7s;
        padding-bottom: 20px;
        padding-top: 10px;
        position: relative; */
        width: 250px;
    }

    #newsletter .form {
        /* height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px sloid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; */
        width: 250px;
    }

}
@media (max-width:540px){
    #product1 .pro img {
        width: 100px;
        border-radius: 20px;
        /* margin: 1rem 0; */
        margin-left: -15px;
        /* margin-right: 15px; */
        height: 15rem;
    }
}
